```
# Flutter/Dart specific
.dart_tool/
.packages
pubspec.lock
*.g.dart
*.freezed.dart

# Build outputs
build/
**/ios/.generated/
**/android/.generated/

# IDE specific
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
**/logs

# Environment
.env
.env.local
*.env.*

# Dependencies
vendor/
```